@font-face {
    font-family: 'Okomito';
    src: url('Okomito-Medium.woff2') format('woff2'),
        url('Okomito-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

